/**
* Adds a custom style to the footer
*/

#wrapper-footer {
    background-color: #e9ecef;
    .site-footer {
        
        .site-info {
           
            .custom-footer {
                
                font-size: 1rem;
                text-align: center;
            }
        }
    }
}
